<h1>Hello world from index!</h1>

<a href="/demo/hello">Hello page 1</a><br />

<!-- Other type does not work -->
<%= link_to("Hello page 2", {:action => 'hello'}) %><br />

<!-- Ruby creates a link with URL parameters but the order of them can be different -->
<%= link_to("Hello with parameters", {:action =>'hello', :page =>5, :id =>20}) %><br />