<% @page_title = "Edit Subject" %>

<%= link_to("<< Back to List", subjects_path, :class => 'back-link') %>
<!-- CSS class is 'subjects edit'-->
<div class="subjects edit">
	<h2>Update Subject</h2>
	
	<%= form_for(@subject) do |f| %>
		
		<!-- Render the partial from the same directory. If it would be in the other directory say 'pages' then use this syntax:  
		render(:partial => 'pages/form', :locals => { :f => f} )-->
		<%= render(:partial => 'form', :locals => { :f => f} ) %>

		<div class="form-buttons">
			<%= f.submit("Update Subject") %>
		</div>
	<% end %>
</div>